@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
	background: #e4e4e4;
	height: 100%;
	scroll-behavior: smooth;
}

/*
 * Flèche permettant de remonter en haut de la page de manière "smooth"
 */
.tip {
	cursor: pointer;
	z-index: 10;
	width: 30px;
	height: 30px;
	font-size: 30px;
	display: none;
}

/* Toujours visible en bas de page */
.stick {
	position: fixed;
	bottom: 20px;
	display: block;
}

.tip i {
	color: #01647d;
	background: white;
	border-radius: 50%;
}

/* Visible seulement en bas de page */
.bottom {
	position: absolute;
	bottom: 10px;
	display: block;
}

/* Paramètres globaux du corps de page */
body {
	font-family: 'Roboto', 'Segoe UI', 'sans-serif';
	color: #01647d;
	min-height: 100%;
	min-width: 300px;
	width: 75%;
	margin: 0 auto;
	background: white !important;
	display: grid;
	grid-template-rows: 100px 1fr 100px;
}

a {
	color: #40a5bf;
}

/* En-tete */
header {
	box-sizing: content-box;
	padding: 15px;
	box-shadow: 0 5px 1px 0px #0006;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

header a {
	margin: 0 20px;
	font-size: 18px;
	color: #01647d;
	text-decoration: none;
	display: inline-block;
	font-size: calc(10px + 1.2vmin);
}

/* Marqueur pour afficher dans le nav sur quelle page on se trouve */
a.active {
	text-decoration: underline;
}

/* Logo du site */
#logo {
	cursor: pointer;
	display: flex;
	align-items: center;
	position: relative;
}

/* Texte présent dans le logo */
#titre {
	text-transform: uppercase;
    text-decoration: line-through;
    position: absolute;
    color: white;
	font-weight: bolder;
	font-size: 15px;
	transform: rotate(-27deg);
	left: -6px;
	top: 22px;
	border:	red solid 1px;
	background:	red;
}

/* Pied de page */
footer {
	box-sizing: content-box;
	padding: 15px;
	box-shadow: 0 -5px 1px 0 #0006;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

/* Liens réseaux sociaux */
#social {
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 30px;
}

#social a {
	color: #01647d88;
}

#social a:hover {
	color: inherit;
}

/* ----------------- Main section ----------------- */

main {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: relative;
}

/* Bouton confirmation du modal informatique et liberté */
#ok {
	background: green;
	color: white;
	padding: 10px;
	position: relative;
}

#ok i:hover {
	color: inherit;
}

.privacy {
	bottom: 0;
}

/* Positionnement du modal en bas de page, en surcouche (z index) */
.modal {
	display: flex;
	position: fixed;
	background: #0008;
	z-index: 999;
	justify-content: center;
	align-items: center;
	color: #01647d;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
}

.modal > div div {
	cursor: pointer;
}

.modal > div {
	position: absolute;
	background: white;
	padding: 15px;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Croix pour fermer le modal */
.modal div i {
	position: absolute;
	top: 10px;
	right: 10px;
}

.modal div i:hover {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
	color: red;
}

/* ----------------- Accueil ----------------- */

/* La page est agencée en grille.  */
#landing-page {
	display: grid;
	grid-template-areas: "image carousel carousel"
						 "pb pb pb";
	grid-auto-rows: 1fr 1fr;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	transition: 0.4s;
}

/* Image principale */
.landing-page__figure {
	grid-area: image;
	min-width: 300px;
	max-width: 600px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.landing-page__figure img {
	width: 100%;
	height: auto;
}

/* Carousel */
.landing-page__carousel {
	grid-area: carousel;
	margin: 0 auto;
}

.carousel__terme {
	font-weight: bold;
	margin-bottom: 20px;
	letter-spacing: 0.1em;
}

.carousel__definition {
	max-width: 300px;
	margin-left: 20px;
	transition: 0.4s;
	background: #e4e4e4;
	padding: 10px;
	box-sizing: border-box;
	text-shadow: 1px 1px white;
}

.source {
	display: block;
	margin-top: 20px;
	font-size: 12px;
	font-style: italic;
}

/* Boutons carousel */
.carousel__btns {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	align-self: flex-end;
}

.btn {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 2px solid #1b1464;
	border-radius: 50%;
	margin: 0 20px;
	cursor: pointer;
}

.btn.active {
	background: #01647d;
}

/* Redirection vers la page des synthèses */
.landing-page__problematique {
	width: 100%;
	grid-area: pb;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.landing-page__problematique h1 {
	font-size: 18px;
	text-align: center;
}


/* Class générique pour cacher un élément */
.hide {
	display: none;
}


/* ----------------- Dossiers ----------------- */

/* Les synthèses sont agencées sous forme de grille */
#dossiers {
	display: grid;
	grid-template-areas: "cedric rashmi"
						 "byzid brahim"
						 "synthese synthese";
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	transition: 0.4s;
}

/* Block de redirection vers les synthèses */
.dossier {
	background: #e4e4e4;
	box-sizing: border-box;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin: 30px;
	padding: 20px;
	box-sizing: border-box;
	cursor: pointer;
	text-shadow: 1px 1px white;
	position: relative;
}

/* Indicateur signifiant que le block est cliquable */
.dossier::after {
    content: "Lire l'article ▶";
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: white;
	font-style: italic;
	font-size: 14px;
	background: #0008;
    left: 0;
    text-align: right;
    padding: 5px;
    text-shadow: none;
}

.dossier:hover {
	transform: scale(1.01);
}

.dossier:nth-of-type(even) {
	background: #d9d9d9;
}

.dossier ul {
	list-style: none;
	padding: 0;
}

.dossier span.title {
	font-weight: bold;
}

span.pb {
	display: block;
	margin-top: 20px;
}

/* Correspondance des syntheses dans la grille */
.dossier:nth-of-type(1) {grid-area: cedric;}
.dossier:nth-of-type(2) {grid-area: rashmi;}
.dossier:nth-of-type(3) {grid-area: byzid;}
.dossier:nth-of-type(4) {grid-area: brahim;}
.dossier:nth-of-type(5) {
	grid-area: synthese;
	text-align: center;
	align-items: unset;
}

/* ----------------- Synthèses ----------------- */

/* Format commun à toutes les syntheses */
#synthese {
	padding: 20px;
	box-sizing: border-box;
	width: 100%;
	max-width: 1024px;
	transition: 0.4s;
	position: relative;
	margin-bottom: 20px;
}

/* Liens de redirection */
#synthese a {
	color: grey;
	font-style: italic;
}

/* Information sur l'article */
.meta {
	list-style: none;
}

.meta .title {
	font-weight: bold;
}

/* Image de l'article */
#synthese figure {
	max-width: 100%;
}

#synthese figure img {
	width: 100%;
	height: auto;
}

figcaption {
	font-family: Courier;
	font-style: italic;
	color: grey;
	font-size: 0.8em;
	text-align: center;
}

h3 {
	font-weight: bold;
}

section {
	margin:10px;
	padding:10px;
}

/* Bloc de redirection vers les sources */
.source-article {
	text-align: center;
	font-size: 0.9em;
	text-decoration: blink;
	padding: 10px;
	box-sizing: border-box;
	border: 2px solid #01647d;
	text-align: center;
}

/* ----------------- Archives ----------------- */

/* Page listant les sources utilisées dans les syntheses */
#sources {
	transition: 0.4s;
	height: 100%;
}

/* Rangée du haut comprenant la barre de filtrage */
#sources .top {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
	min-width: 100%;
}

.top h1 {
	font-size: 24px;
	font-weight: 400;
}

.top label {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.top input {
	padding: 5px;
	width: 280px;
	color: inherit;
}

/* Logo "loupe" */
.fa-search {
	position: absolute;
	right: 0;
	height: 24px;
	width: 24px;
	display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.sources__liste {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	box-sizing: content-box;
	margin: 0 auto;
}

.sources__liste .article {
	box-shadow: 3px 3px 3px #0008;
	max-width: 250px;
	min-height: 150px;
	margin: 10px;
	padding: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	box-sizing: border-box;
	background: #f0f0f0;
}

.sources__liste .article:nth-of-type(even) {
	background: #e8e8e8;
}

.sources__liste .article:last-of-type {
	align-self: flex-start;
}

.sources__liste .article span {
	display: block;
}

/* ----------------- Contact ----------------- */

#suggestions {
	font-size: 24px !important;
	text-align: center;
}

/* Layout en colonnes */
#wrap {
	transition: 0.4s;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#wrap section {
	height: 100%;
	margin: 0;
	box-sizing: border-box;
}

/* Section de gauche contenant le formulaire */
#message {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

/* Les inputs */
form input{
    margin: 10px 0 20px;
}

form input[type="text"],
input[type="email"] {
    border: none;
    border-bottom: solid 1px #01647D;
    padding: 5px 0;
    display: block;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
    opacity: 0.6;
}

input[type="text"]:focus,
input[type="email"]:focus {
    outline: none;
}

textarea:invalid {
	outline: none;
}

textarea:focus {
    outline: none;
}

textarea {
    margin-top: 10px;
    max-width: 300px;
    resize: vertical;
    width: 100%;
}

/* Compteur de caractères */
#size {
	display: block;
	text-align: right;
	font-size: 14px;
	color: red;
	opacity: 0.8;
}

#size.valid {
	color: green;
}

/* Bouton d'envoi du formulaire */
#submit {
	width: 100px;
	height: 48px;
	background: #01647d;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin: 20px auto 0;
}

#submit:hover {
	background: green;
}

/* Colonne de droite, info contact des auteurs */
#auteurs {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

.auteur {
    display: flex;
    margin: 20px 0;
    max-width: 300px;
    align-items: center;
}

.auteur__avatar {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.auteur__avatar img{
    width: 100%;
    height: auto;
}

.auteur__info span {
    display: block;
}

/* ----------------- Responsive ----------------- */

/*
 * Diverses adaptations pour convenir aux formats mobiles et écrans moyens
 */

@media (min-width: 1366px) {
	#dossiers {
		width: 75%;
	}
}

@media (min-width: 1024px) {
	.carousel__slides {
		width: 100%;
	}
}

@media (min-width: 700px) {
	.dossier:nth-of-type(3) {
		background: #d9d9d9;
	}

	.dossier:nth-of-type(4) {
		background: #e4e4e4;
	}
}

@media (min-width: 600px) {
	nav.hide {
		display: block;
	}
}

@media (max-width: 910px) {
	body {
		width: 100%;
	}

	header a {
		margin: 0 10px;
	}
}

@media (max-width: 720px) {
	/* Afiche la liste des synthèses en colonne */
	#dossiers {
		grid-template-areas: "cedric"
							 "rashmi"
							 "byzid"
							 "brahim"
							 "synthese";
		padding: 20px 0;
	}

	/* Décale la page vers le bas lorsque le menu de navigation est ouvert */
	.offset {
		padding-top: 50px !important;
	}

	.dossier {
		margin: 10px 0;
	}

	.sources__liste {
	    grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 600px) {
	/*
	 * Menu de navigation adapté aux mobiles.
	 */
	.burger {
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		width: 40px;
		height: 30px;
		transition: 0.2s;
	}

	.burger div {
		height: 5px;
		width: 100%;
  		margin: 6px 0;
		transition: 0.3s;
		background: #01647d;
	}

	/* Petite animation */
	.burger.close {
		transform: rotate(360deg);
	}

	.burger.close div:nth-of-type(1) {
		transform: rotate(45deg) translate(8px, 8px);
	}

	.burger.close div:nth-of-type(3) {
		transform: rotate(-45deg) translate(8px, -8px);
	}

	.burger.close div:nth-of-type(2) {
		opacity: 0;
	}

	/* Par défaut le menu de navigation n'est pas visible */
	nav {
		display: none;
	}

	/* On l'affiche en position absolue sous le header */
	.show {
		display: flex;
		position: absolute;
		z-index: 11;
		bottom: -48px;
		justify-content: space-between;
		left: 0;
		right: 0;
		text-transform: uppercase;
		background: #e4e4e4;
	}

	nav.show a {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 48px;
		width: 100%;
		margin: 0;
	}

	nav.show a:hover {
		background: #f0f0f0;
	}

	/* Ajustement de la présentation de la page d'accueil en colonne */
	#landing-page {
		grid-template-areas: "image"
							 "carousel"
							 "pb";
	}

	.sources__liste {
	    grid-template-columns: 1fr;
	}

	.sources__liste .article {
		max-width: 100%;
	}
}

@media (max-width: 500px) {
	/* Les liens des réseaux sociaux sont déplacés au centre du footer */
	#social {
		right: unset;
		bottom: 5px;
	}
}

@media (max-width: 360px) {
	/* Ajustements mineurs pour les plus petits écrans */
	#landing-page {
		padding: 5px;
		margin: 0;
		box-sizing: border-box;
	}

	.carousel__definition {
		margin: 0;
	}
}
